# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- List development environment open source tools used in Data Science

Some of the popular languages that Data Scientist use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. TensorFlow
3. NumPy

| Data Science Tools |
|:------------------:|
|RStudio             |
|Apache Spark        |
|TensorFlow          |

### Below are a few examples of evaluating arithmetic expression in Python

In [2]:
#This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author 
Joy Baloaloa